BATCH_ENV=prod
BATCH_SECRET_MODE=secrets_manager

AWS_REGION=ap-south-1
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_SESSION_TOKEN=
AWS_PROFILE=

DB_SECRET_NAME=batchjob/prod/oracle
S3_SECRET_NAME=batchjob/prod/s3
ORACLE_CLIENT_LIB_DIR=C:\oracle\instantclient_21_13
S3_ENDPOINT_URL=

BATCH_INPUT_DIR=C:\batch-job\input
BATCH_SUCCESS_DIR=C:\batch-job\success
BATCH_FAILED_DIR=C:\batch-job\failed

BATCH_BATCH_SIZE=500
BATCH_WORKER_COUNT=12
BATCH_QUEUE_SIZE=24
BATCH_MAX_RETRY=3
BATCH_RETRY_BASE_SECONDS=2
BATCH_FY_REGEX=(?i)_FY_(\d{4})_(\d{4})\.pdf$

BATCH_PACKAGE_NAME=FINACLE_BATCH_PKG
BATCH_DOC_SEQUENCE=FIN_YEARLY_STMT_DOCID_SEQUENCE
BATCH_FINALIZE_REC_TYPE=T_FINALIZE_REC
BATCH_FINALIZE_TAB_TYPE=T_FINALIZE_TAB
BATCH_MOVE_REC_TYPE=T_MOVE_REC
BATCH_MOVE_TAB_TYPE=T_MOVE_TAB

BATCH_DB_POOL_MIN=2
BATCH_DB_POOL_MAX=12
BATCH_DB_POOL_INCREMENT=1

BATCH_LOG_DIR=C:\batch-job\logs
BATCH_OUTBOX_DIR=C:\batch-job\outbox
BATCH_LOCK_FILE=C:\batch-job\job.lock
BATCH_LOCK_STALE_SECONDS=3600
BATCH_LOG_LEVEL=INFO
BATCH_LOG_MAX_BYTES=5000000
BATCH_LOG_BACKUP_COUNT=10
